%div#new_session
  
  %h3 Log In

  = form_tag session_path do

    %p
      = label_tag 'login'
      %br
      = text_field_tag 'login', @login

    %p
      = label_tag 'password'
      %br
      = password_field_tag 'password', nil

    = hidden_field_tag 'remember_me', "1"
    %p= submit_tag 'Log in'
