%h1 Editing meal_plan

- form_for(@meal_plan) do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name

  %p= f.submit "Update"

= link_to 'Show', @meal_plan
|
= link_to 'Back', meal_plans_path
