%span{:id => item_html_id(item), :class => "item"}
  %div.first= f.text_field :name, :size => 20
  %div=       f.text_field :qty, :size => 5
  %div=       f.text_field :price        , :size => 5

  %div.last
    = f.select(:item_uid_id, options_for_item_uid_select(@item_uids[item.id || 0], item.item_uid_id))
    = f.hidden_field :receipt_id
    = observe_item_name_for_select(:receipt, item.item_uid_id)

