= f.error_messages :header_message => "Woah there", :message => "There were some problems with the recipe:"

%div#photo{:style => "background: url('/images/blue_camera.png') no-repeat right;overflow:auto"}
  %table{:style => "padding-top:15px"}
    - f.fields_for(:photos) do |photo_form|
      %tr
        %td
          = image_tag(photo_path_or_default(photo_form.object, :size => :thumb), :class => "thumb")
        %td{:style => "text-align:right"}
          = photo_form.label :uploaded_data, "File"
          %br
          = photo_form.label :caption
        %td
          = photo_form.file_field :uploaded_data, :size => 12
          %br
          = photo_form.text_field :caption, :size => 22
  
%p
  = f.label :name
  %br
  = f.text_field(:name, :size => 30)

%div#details
  %p
    = f.label :prep_time
    %br
    = f.text_field(:prep_time) + " minutes"
  %p
    = f.label :cook_time
    %br
    = f.text_field(:cook_time) + " minutes"
  %p
    = f.label :servings
    %br
    = f.text_field :servings
  
%div.colspacer

%h3 Directions

%div#directions
  %small (formatted with <a target="_blank" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown</a>)
  %br
  = f.text_area :directions

%h3 Ingredients

%div#ingredients
  %div.first_header Name
  %div.header Amount
  %div.header Bulk Price
  %div.header Bulk Qty
  %br
  %hr
  - f.fields_for(:items, @items) do |item_form|
    = render :partial => "/items/item", :locals => {:f => item_form, :item => item_form.object}

%div.colspacer