%div#photo{:style => "background: url('#{main_photo_path(@recipe, "/images/blue_camera.png")}') no-repeat right"}
  - f.fields_for(:photos) do |photo_form|
    = photo_form.file_field :uploaded_data
  
%p
  = f.label :name
  %br
  = f.text_field(:name, :size => 30)

%div#details
  %p
    = f.label :prep_time
    %br
    = f.text_field(:prep_time) + " minutes"
  %p
    = f.label :cook_time
    %br
    = f.text_field(:cook_time) + " minutes"
  %p
    = f.label :servings
    %br
    = f.text_field :servings
  
%div.colspacer

%h3 Directions

%div#directions
  %small (formatted with <a target="_blank" href="http://warpedvisions.org/projects/markdown-cheat-sheet/">Markdown</a>)
  %br
  = f.text_area :directions

%h3 Ingredients

%div#ingredients
  %div.first_header Name
  %div.header Amount
  %div.header Bulk Price
  %div.header Bulk Qty
  %br
  %hr
  - f.fields_for(:items) do |item_form|
    = hidden_field_tag :child_index, @recipe.items.size + 1
    
    = render :partial => "/items/item", :locals => {:f => item_form, :item => item_form.object}

%div.colspacer