= content_for(:title, "Editing '#{@recipe.name}'")

= form_for(@recipe, :html => { :multipart => true }) do |f|

  = render :partial => "form", :locals => {:f => f}
  
  %p= f.submit "Update"

= link_to 'Back', recipes_path

&bull;

= link_to 'Destroy', @recipe, :confirm => 'Are you sure?', :method => :delete
