= content_for(:title, "Editing '#{@recipe.name}'")

- form_for(@recipe, :html => { :multipart => true }) do |f|
  = f.error_messages
  
  = render :partial => "form", :locals => {:f => f}
  
  %p= f.submit "Update"

= link_to 'Back', recipes_path
