= content_for(:title, "#{ @viewing_user ? "#{@viewing_user.name}s" : (params[:user_id].present? ? "Your" : "")} Recipes")

%div.append-bottom.clear#recipe_table
  %div.span-1.strong.prepend-6 Prep
  %div.span-1.strong Cook
  %div.span-2.strong $/serving
  %br

  - for recipe in @recipes
    %div.span-12.clear{:class => cycle('odd','even'), :id => html_id(recipe)}
      %div.span-2
        = completion_circle(recipe.completion, recipe.missing)
        = link_to_highslide_image(recipe, :thumb, :medium)
      %div.span-4.text
        = link_to h(recipe.name), user_recipe_path(recipe.user || "new", recipe)
      %div.span-1.text= float_to_minute(recipe, :prep_time)
      %div.span-1.text= float_to_minute(recipe, :cook_time)
      %div.span-2.text= float_to_price(recipe, :average_price_per_serving)

      %div.span-1.text
        = add_to_list_button(recipe)

    %br

%div.clear
