= content_for(:title, @recipe.name)

%div#photo
  = link_to_highslide_image(@recipe, :medium, nil, :hide_default => true)
  
  %div#alternate_photos.span-6
    - (@recipe.photos - [@recipe.main_photo]).each do |photo|
      = link_to_highslide_image(photo, :thumb, nil, :hide_default => true)
  
= render :partial => "/layouts/nutrition_table", :locals => {:record => @recipe}

%div#details
  %div
    %strong Prep time:
    =h @recipe.prep_time
  %div
    %strong Cook time:
    =h @recipe.cook_time

%div.colspacer
  
%h3 Directions

%div#directions= BlueCloth.new(@recipe.directions || "").to_html

%h3 Ingredients

// I know this is no better than a table, but it lines up so nice!
%div#ingredients
  %div.first_header Amount
  %div.header Cost
  %div.header Bulk
  %br
  %hr
  - @recipe.items.each do |item|
    %div.first= item.name
    %div= item.qty
    %div= float_to_price(item, :average_price)
    %div.last= item.average_unit_price || "?"

%div.colspacer

= (link_to 'Edit', edit_recipe_path(@recipe)) + " | " if current_user_owns?(@recipe)

= link_to 'Back', recipes_path
