= content_for(:title, @recipe.name)

%div#photo= image_tag(main_photo_path(@recipe))
  
%div#details
  %strong Prep time:
  =h @recipe.prep_time
  %br
  %strong Cook time:
  =h @recipe.cook_time
  %br
  %strong Serves:
  =h @recipe.servings
  %br
  %strong Cost:
  =h float_to_price(@recipe, :cost)
  %br
  %strong Price per serving:
  =h float_to_price(@recipe, :price_per_serving)
  %br
  %strong # of servings from bulk goods:
  =h @recipe.servings_from_bulk
  %br
  %strong cost of bulk goods:
  =h float_to_price(@recipe, :bulk_cost)
  %br
  
%div.colspacer

%h3 Directions

%div#directions= BlueCloth.new(@recipe.directions || "").to_html

%h3 Ingredients

// I know this is no better than a table, but it lines up so nice!
%div#ingredients
  %div.first_header Amount
  %div.header Cost
  %div.header Bulk
  %br
  %hr
  - @recipe.items.each do |item|
    %div.first= item.name
    %div= round_unit(item.amount_with_unit)
    %div= float_to_price(item, :cost)
    %div.last= float_to_price(item, :dollars_per_amount)

%div.colspacer

= (link_to 'Edit', edit_recipe_path(@recipe)) + " | " if user_owns_recipe?(@recipe)

= link_to 'Back', recipes_path
