%div
  = f.label :name
  = f.text_field :name, :size => "50"
  %span{:tooltip => "Required"} *
%br
%div
  = f.label :servings
  = f.text_field :servings, :size => "4"
  %span{:tooltip => "Required"} *
%br
%div
  = f.label :serving_size
  = f.text_field :serving_size, :size => "4"
  %span{:tooltip => "Required"} *
%br
%div
  Density (mass per volume): 
  = f.text_field :common_weight, :size => "4"
  per
  = f.text_field :common_weight_description, :size => "4"
%br
%h3 Nutrition Info

%table
  %tr
    %td= f.label :kcal
    %td= f.text_field :kcal
  %tr
    %td= f.label :fat_kcal
    %td= f.text_field :fat_kcal
  %tr
    %td= f.label :fat
    %td= f.text_field :fat
  %tr
    %td= f.label :saturated_fat
    %td= f.text_field :saturated_fat
  %tr
    %td= f.label :monounsaturated_fat
    %td= f.text_field :monounsaturated_fat
  %tr
    %td= f.label :polyunsaturated_fat
    %td= f.text_field :polyunsaturated_fat
  %tr
    %td= f.label :cholesterol
    %td= f.text_field :cholesterol
  %tr
    %td= f.label :sodium
    %td= f.text_field :sodium
  %tr
    %td= f.label :carbs
    %td= f.text_field :carbs
  %tr
    %td= f.label :protein
    %td= f.text_field :protein
  %tr
    %td= f.label :sugar
    %td= f.text_field :sugar
  %tr
    %td= f.label :fiber
    %td= f.text_field :fiber
  %tr
    %td= f.label :vitamin_a_daily_value, "Vitamin A"
    %td= f.text_field :vitamin_a_daily_value
  %tr
    %td= f.label :vitamin_c_daily_value, "Vitamin C"
    %td= f.text_field :vitamin_c_daily_value
  %tr
    %td= f.label :calcium_daily_value, "Calcium"
    %td= f.text_field :calcium_daily_value
  %tr
    %td= f.label :iron_daily_value, "Iron"
    %td= f.text_field :iron_daily_value
    
%br