= will_paginate @foods

%div{:id => 'foods_list'}
  - @foods.each do |food|
    = link_to food.name, :controller => "/foods", :action => "show", :id => food.id
    = "&bull; #{add_to_list_button(food)}" unless food.is_a?(UsdaNdbFood)
    %br

= will_paginate @foods
