= content_for(:title, h(@food.name))

= render :partial => "/layouts/nutrition_table", :locals => {:record => @food}

%div.clear

= "#{add_to_list_field(@food)} |".html_safe unless @food.is_a?(UsdaNdbFood)

= link_to 'Edit', edit_food_path(@food)
|
= link_to 'Back', foods_path
