%span{:id => item_html_id(item)}
  %div.first= f.text_field :name, :size => 20
  %div=       f.text_field :amount_with_unit   , :size => 5
  %div=       "$"+(f.text_field :bulk_price    , :size => 4)
  %div.last
    =  f.text_field :bulk_qty_with_unit , :size => 5
    = f.hidden_field :recipe_id
  