%tr{:id => item_html_id(item)}
  %td= f.text_field :name
  %td= f.text_field :amount           , :size => 5, :value => attr_with_unit(f.object, :amount)
  %td= "$"+(f.text_field :bulk_price  , :size => 4)
  %td= f.text_field :bulk_qty         , :size => 5, :value => attr_with_unit(f.object, :bulk_qty)
  %td= f.text_field :calories         , :size => 5
  %td= (f.text_field :fat             , :size => 4) + "g"
  %td= (f.text_field :carbs           , :size => 4) + "g"
  %td= (f.text_field :protein         , :size => 4) + "g"
    
  %td
    = f.hidden_field :recipe_id
    = link_to_remote("+", :url => {:controller => "items", :action => "new"}, :update => item_html_id(item), :position => :after, :method => :get, :with => "'child_index=' + ($('child_index').value)", :success => "$('child_index').value = Number($('child_index').value) + 1")
