%h1 Listing items

%table
  %tr
    %th Name
    %th Amount
    %th Bulk price
    %th Bulk qty
    %th Calories
    %th Fat
    %th Carbs
    %th Protein
    %th Recipe

- for item in @items
  %tr
    %td= item.name
    %td= item.amount
    %td= item.bulk_price
    %td= item.bulk_qty
    %td= item.calories
    %td= item.fat
    %td= item.carbs
    %td= item.protein
    %td= item.recipe_id

    %td= link_to 'Show', recipe_item_path(@recipe, item)
    %td= link_to 'Edit', edit_recipe_item_path(@recipe, item)
    %td= link_to 'Destroy', recipe_item_path(@recipe, item), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New item', new_recipe_item_path(@recipe)
