= f.error_messages

%div.prepend-1
  = f.label :store_id, "Store"
  = f.select :store_id, @stores.try(:collect) {|store| [store.name, store.id]} || [], :include_blank => true
  |
  = link_to "New Store", new_store_path

%div.append-bottom

%div#items
  %div.first_header Name
  %div.header Amount
  %div.header Price
  %div.header Food
  %br
  %hr

  - f.fields_for(:items) do |item_form|
    = render :partial => "/receipt_items/receipt_item", :locals => {:f => item_form, :item => item_form.object}

%div.colspacer