%div.nutrition_info
  %h3
    = "#{controller.controller_name.singularize.titleize} Info"
    = completion_circle(record.completion, record.missing) if record.respond_to?(:completion)
  = "Serving size: #{record.serving_size}<br />" if record.serving_size.try(:nonzero?)
  = "Servings: #{record.servings} | " if record.servings.present?
  - if record.respond_to?(:average_price_per_serving)
    = "$/Srv: #{float_to_price(record, :average_price_per_serving)} | "
    = "$ Total: #{float_to_price(record, :average_price)}"
  = "Price: #{unit_to_price(record, :average_unit_price)}" if record.respond_to?(:average_unit_price)
  
  %table
    %tr
      %th{:colspan => 2} Amount / Serving
      %th % DV
    
    %tr
      %td.left Calories
      %td=h measure_nutrient(record, :kcal)
      %td 15%
    %tr
      %td.left.indent Fat calories
      %td=h measure_nutrient(record, :fat_kcal)
      %td 15%
    %tr
      %td.left Total fat
      %td=h measure_nutrient(record, :fat, " g")
      %td 15%
    %tr
      %td.left.indent Saturated fat
      %td=h measure_nutrient(record, :saturated_fat, " g")
      %td 15%
    %tr
      %td.left.indent Monounsat fat
      %td=h measure_nutrient(record, :monounsaturated_fat, " g")
      %td 15%
    %tr
      %td.left.indent Polyunsat fat
      %td=h measure_nutrient(record, :polyunsaturated_fat, " g")
      %td 15%
    %tr
      %td.left Total carbs
      %td=h measure_nutrient(record, :carbs, " g")
      %td 15%
    %tr
      %td.left.indent Dietary Fiber
      %td=h measure_nutrient(record, :fiber, " g")
      %td 15%
    %tr
      %td.left.indent Sugars
      %td=h measure_nutrient(record, :sugar, " g")
      %td 15%
    %tr
      %td.left Protein
      %td=h measure_nutrient(record, :protein, " g")
      %td 15%
    
      