%div.nutrition_info
  %h3= "#{controller.controller_name.singularize.titleize} Info"
  = "Serving size: #{record.serving_size}<br />" if record.serving_size.to_i != 0
  = "Servings: #{record.servings}"
  |
  = "$/Srv: #{float_to_price(record, :average_price_per_serving)}"
  |
  = "$ Total: #{float_to_price(record, :average_price)}"
  
  %table
    %tr
      %th{:colspan => 2} Amount / Serving
      %th % DV
    /- [:kcal, :fat, :carbs, :protein, :sugar, :saturated_fat, :monounsaturated_fat, :polyunsaturated_fat].each do |nutrient|
    
    %tr
      %td.left Calories
      %td=h record.measure(:kcal).try(:round)
      %td 15%
    - if record.measure(:fat_kcal)
      %tr
        %td.left.indent Fat calories
        %td=h record.measure(:fat_kcal).try(:round).to_s
        %td 15%
    %tr
      %td.left Total fat
      %td=h record.measure(:fat).try(:round).to_s + " g"
      %td 15%
    %tr
      %td.left.indent Saturated fat
      %td=h record.measure(:saturated_fat).try(:round).to_s + " g"
      %td 15%
    - if record.measure(:monounsaturated_fat)
      %tr
        %td.left.indent Monounsat fat
        %td=h record.measure(:monounsaturated_fat).try(:round).to_s + " g"
        %td 15%
    - if record.measure(:polyunsaturated_fat)
      %tr
        %td.left.indent Polyunsat fat
        %td=h record.measure(:polyunsaturated_fat).try(:round).to_s + " g"
        %td 15%
    %tr
      %td.left Total carbs
      %td=h record.measure(:carbs).try(:round).to_s + " g"
      %td 15%
    %tr
      %td.left.indent Dietary Fiber
      %td=h record.measure(:fiber).try(:round).to_s + " g"
      %td 15%
    %tr
      %td.left.indent Sugars
      %td=h record.measure(:sugar).try(:round).to_s + " g"
      %td 15%
    %tr
      %td.left Protein
      %td=h record.measure(:protein).try(:round).to_s + " g"
      %td 15%
    
      