%div.nutrition_info
  %h3
    = "#{controller.controller_name.singularize.titleize} Info"
    = completion_circle(record.completion, record.missing) if record.respond_to?(:completion)
  = "Density: #{record.density}<br />".html_safe if record.respond_to?(:density) && record.density.present?
  = "Serving size: #{record.serving_size}<br />".html_safe if record.serving_size.try(:nonzero?)
  = "Servings: #{record.servings} | " if record.servings.present?
  - if record.respond_to?(:average_price_per_serving)
    = "$/Srv: #{float_to_price(record, :average_price_per_serving)} | ".html_safe
    = "$ Total: #{float_to_price(record, :average_price)}".html_safe
  = "Price: #{unit_to_price(record, :average_unit_price)}" if record.respond_to?(:average_unit_price)
  
  %table
    %tr
      %th{:colspan => 2}= "Amount / #{serving_amount(record)}".html_safe
      %th % DV
    
    %tr
      %td.left Calories
      %td= measure_nutrient(record, :kcal)
      %td= daily_value(record, :kcal)
    %tr
      %td.left.indent Fat calories
      %td= measure_nutrient(record, :fat_kcal)
      %td= daily_value(record, :fat_kcal)
    %tr
      %td.left Total fat
      %td= measure_nutrient(record, :fat, " g")
      %td= daily_value(record, :fat)
    %tr
      %td.left.indent Saturated fat
      %td= measure_nutrient(record, :saturated_fat, " g")
      %td= daily_value(record, :saturated_fat)
    %tr
      %td.left.indent Monounsat fat
      %td= measure_nutrient(record, :monounsaturated_fat, " g")
      %td
    %tr
      %td.left.indent Polyunsat fat
      %td= measure_nutrient(record, :polyunsaturated_fat, " g")
      %td
    %tr
      %td.left Total carbs
      %td= measure_nutrient(record, :carbs, " g")
      %td= daily_value(record, :carbs)
    %tr
      %td.left.indent Dietary Fiber
      %td= measure_nutrient(record, :fiber, " g")
      %td= daily_value(record, :fiber)
    %tr
      %td.left.indent Sugars
      %td= measure_nutrient(record, :sugar, " g")
      %td
    %tr
      %td.left Protein
      %td= measure_nutrient(record, :protein, " g")
      %td= daily_value(record, :protein)
    
      