%div#sidebar
  %ul
    
    - if current_user.nil?
      %li
        %h3 Log In
        - form_tag session_path do
          %div.span-4
            Username:
            = text_field_tag 'login', @login, :size => 10
          %div.span-4.last
            Password:
            = password_field_tag 'password', nil, :size => 10
          = hidden_field_tag 'remember_me', "1"
          = submit_tag "Login", :class => "prepend-top"
          &bull; login with Facebook: 
          = fb_login_button('window.location = "/users/link_user_accounts";', :size => :medium, :background => "white")
          
        %div.clear
    - else
      %div{:style => "text-align:right;position:absolute;top:0", :class => "span-8", :id => "login_bar"}
        - if current_user.facebook_user?
          = %(<fb:profile-pic uid="#{current_user.fb_id}" facebook-logo="true" size="thumb" ></fb:profile-pic>)
          &bull;
          <a href="#" onclick='FB.Connect.logoutAndRedirect("/logout")'>logout</a>
        - else
          = current_user.name.blank? ? current_user.login : current_user.name
          &bull;
          = fb_login_button('window.location = "/users/link_user_accounts";', :size => :small, :background => "white")
          &bull;
          = link_to "logout", logout_path
    
    %li
      %h3 Join the community
      %ul.links
        %li= link_to "Your Recipes", "/"
        %li= link_to "Your Receipts", "/receipts"
        %li= link_to "Others' Recipes", users_path
        %li <a href="#" onclick="alert('Filler; not really a link')">Official weblog</a>
        %li <a href="#" onclick="alert('Filler; not really a link')">Wiki</a>
    
    %li
      %h3 Browse the documentation
      %ul.links
        %li <a href="# onclick="alert('Filler; not really a link')>Rails API</a>
        %li <a href="# onclick="alert('Filler; not really a link')>Ruby standard library</a>
        %li <a href="# onclick="alert('Filler; not really a link')>Ruby core</a>
