%div#sidebar
  %ul
    
    - if current_user.nil?
      %li
        %h3 Log In
        = form_tag session_path do
          %div.span-3{:style => "border-right: 1px dotted #999"}
            %label{:for => "login"} Username:
            %br
            = text_field_tag 'login', @login, :size => 10
            %br
            %label{:for => "password"} Password:
            %br
            = password_field_tag 'password', nil, :size => 10
            = hidden_field_tag 'remember_me', "1"
            %br
            = submit_tag "Login", :class => "prepend-top"
            &bull;
            = link_to "Signup", signup_path
          %div
            Log in with:
            %ul
              %li= facebook_login_button
          
        %div.clear
    - else
      %div#login_bar
        - if current_user.facebook_user?
          = facebook_pic(current_user)
        - else
          = current_user.name.blank? ? current_user.login : current_user.name
          &bull;
          = facebook_login_button
        
        %div#user_links
          %p.first
            Your:
            = link_to "Receipts", receipts_path, :class => "receipts"
            = link_to "Foods", user_foods_path(current_user.id), :class => "foods"
            = link_to "Recipes", user_recipes_path(current_user.id), :class => "recipes"
          %p
            Create:
            = link_to "Receipt", new_receipt_path, :class => "receipts"
            = link_to "Food", new_food_path, :class => "foods"
            = link_to "Recipe", new_recipe_path, :class => "recipes"
    %div#logout= link_to "logout", logout_path if logged_in?

    = render :partial => "/lists/sidebar"

    %li#browse
      %h3
        %object{:data => "/svg/earth.svg", :type => "image/svg+xml"}
        Browse
      %ul.links
        %li= link_to "Recipes", recipes_path
        %li= link_to "Foods", foods_path
        %li= link_to "Users", users_path
