<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Recipes</title>
    <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag :all %>
    
    <style type="text/css" media="screen">
      #content {
        width: <%= display_sidebar? ? 500 : 700 %>px;
      }
    </style>
  </head>
  <body>
    <div id="page">
      <%= render :partial => "/layouts/sidebar" if display_sidebar? %>

      <div id="content">
        <div id="header">
          <h1><%= controller.controller_name.titleize %> &bull; <%= controller.action_name.titleize %></h1>
        </div>
        
        <%= flash_messages %>
        
        <div id="getting-started">
          <%= yield %>
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>