<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Recipes</title>
    <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag "compiled/screen" %>
  </head>
  <body class="<%= display_sidebar? ? 'two-col' : 'one-col' %> bp">
    <div class="container">

      <div id="content">
        <%= flash_messages %>
        <div id="header">
          <h1><%= yield(:title) || (controller.controller_name.titleize + " &bull " + controller.action_name.titleize) %></h1>
        </div>

        <%= yield %>
      </div>
      
      <%= render :partial => "/layouts/sidebar" if display_sidebar? %>
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>