<!DOCTYPE html>
%html
  %head
    %meta{"http-equiv"=>"Content-type", :content=>"text/html;charset=utf-8"}/
    // I like this dynamic width idea, trying out static width
    //%meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
    %meta{:name => "viewport", :content => "width=500"}

    %title= yield(:title) || default_page_title

    = stylesheet_link_tag "compiled/screen"
    = stylesheet_link_tag "compiled/mobile"
    = stylesheet_link_tag '/highslide/highslide'
  %body{:class => "mobile #{controller.controller_name} #{controller.action_name} bp"}

    = flash_messages

    %div#navigation.span-12.append-bottom
      = link_to "Recipes", recipes_path, :id => "recipes_link"
      = link_to "Foods", foods_path, :id => "foods_link"
      = link_to "List", list_path(0), :class => "last", :id => 'list_link'

    %div{:id => "content"}= yield
    
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"
    = javascript_include_tag '/highslide/highslide'
    = javascript_include_tag :all, :cache => true
    %script{"type" => "text/javascript"}
      hs.graphicsDir = '/highslide/graphics/';
      hs.captionEval = 'this.thumb.alt';
      hs.showCredits = false;
    